h1 {
  padding: 2rem 0 0 0;
}

.title {
  color: white !important;
}

h2 {
  margin: 0;
}

span {
  display: block;
}

.card {
  margin: 0 0 0 0;
}

.category {
  margin: 0 0 1rem 0;
}

.fighter {
  margin: 1rem;
  padding: 0.5rem;
  background-color:rgb(55, 121, 108);
  border-radius: 15px;
  font-weight: bold;
}

.winner {
  margin: 1rem 0;
  padding: 3rem;
  background-color: rgb(255, 204, 0) ;
  border-radius: 15px;
}

.winner h1 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 1rem;
}

.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 1rem;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}
