.App {
  text-align: center;
}

span {
  display: block;
}

.category {
  margin: 0 0 1rem 0;
}

a {
  font-weight: bold;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 1rem;
}

.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 1rem;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}
